body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to right, #4facfe, #00f2fe);
  text-align: center;
  padding: 50px;
  color: #fff;
}

h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

#kelimeKutusu {
  font-size: 36px;
  margin-bottom: 20px;
  letter-spacing: 10px;
}

input {
  padding: 10px;
  font-size: 20px;
  border-radius: 8px;
  border: none;
  margin: 10px;
}

button {
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 8px;
  border: none;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #ddd;
}

#mesaj {
  margin-top: 20px;
  font-size: 24px;
}
